.grid {
  display: grid;
  grid-template-columns: repeat(var(--size), 2em);
  grid-template-rows: repeat(var(--size), 2em);
  gap: 1px;

  button {
    border: none;
  }
}

.hashes {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  letter-spacing: 0.2ch;
  line-height: 2rem;
  margin: 1rem 0;
}
