.grid {
  display: grid;
  grid-template-columns: repeat(var(--size), 2em);
  grid-template-rows: repeat(var(--size), 2em);
  gap: 1px;

  button {
    border: none;
    background-color: light-dark(gainsboro, lightslategray);
    touch-action: manipulation;

    &[aria-pressed="true"] {
      background-color: light-dark(slategray, darkslategray);
    }
  }
}

.hashes {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  letter-spacing: 0.2ch;
  line-height: 2rem;
  margin: 1rem 0;
  padding-left: 0;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > span {
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      box-sizing: border-box;
      border: solid light-dark(gainsboro, lightslategray);
      background-color: light-dark(slategray, darkslategray);

      &.small {
        border-width: 0.2em;
      }

      &.medium {
        border-width: 0.1em;
      }

      &.large {
        border-width: 0;
      }
    }
  }
}
