import listUrl from "../../words/valid.json?url";

<let/words=null as null | string[]>

<link rel="preload" href=listUrl as="fetch">

<script>
  fetch(listUrl)
    .then((res) => res.json())
    .then((list) => (words = list));
</script>

<return=words>
