:root {
  color-scheme: light dark;
  --background: light-dark(rgb(254, 247, 241), rgb(39, 28, 19));
  --accent: light-dark(rgb(21, 96, 218), rgb(171, 212, 250));
  /* Legible on top of --accent. */
  --accent-contrast: light-dark(white, black);
  background-color: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: var(--accent);
}

ul {
  list-style-type: "-  ";

  li {
    margin: 0.5rem 0;
  }
}
