h1 -- About Me

p -- I was born Lucas, but I've always gone by Luke and I'm changing it to Luca because <em style="font-family:cursive;color:light-dark(#4aa,#aff);font-weight:bold">Luca LaValva</em> sounds awesome.

p -- I moved to <em style="color:#c0362d">San Francisco</em> in 2023, and I have no intention of leaving any time soon.

home